@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ss-pro-regular';
  src: url('../static/fonts/source-sans-pro/SourceSansPro-Regular.woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'ss-pro-semibold';
  src: url('../static/fonts/source-sans-pro/SourceSansPro-SemiBold.woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'ss-pro-bold';
  src: url('../static/fonts/source-sans-pro/SourceSansPro-Bold.woff');
  font-style: normal;
  font-weight: 700;
}


h1 {
  @apply  text-petrolblue font-ss-pro-bold text-h1 font-bold my-4 sm:mb-6;
}

h2 {
  @apply  font-ss-pro-bold text-h2 font-bold my-4 sm:mb-6;
}

h3 {
  @apply  font-ss-pro-semibold text-h3 font-semibold my-4 sm:mb-6;
}

h4 {
  @apply  font-ss-pro-bold text-h4 font-normal mb-4 sm:mb-6;
}

p {
  @apply font-ss-pro-regular text-body font-normal;
}

strong {
  @apply font-ss-pro-bold text-body font-bold;
}


body {
  @apply text-darkgrey font-ss-pro-regular text-body font-normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(rgb(249, 255, 255) 0%, rgb(56, 200, 230) 100%);
  /* background: linear-gradient(#e66465, #9198e5); */
}

body *{
  box-sizing: border-box;
  border: 0 solid;
}

